.logo-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
.logo-img {
  width: 170px;
  height: 22px;
  padding-left: 10px;
}
.logo-span {
  text-align: right;
  letter-spacing: 0px;
  color: #292929;
  opacity: 1;
}
