@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800;900&display=swap');
#app {
  font-family: Raleway, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
