.cluster img {
  bottom: 0;
  right: 0;
}
#map {
  margin: auto;
  width: 100%;
  height: 60vh;
}

.map-windowInfo {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: left;
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.gm-style .gm-style-iw-t::after {
  display: none;
}

.gm-style-iw-d {
  width: 400px;
  height: 250px;
}

.gm-ui-hover-effect {
  top: 3px !important;
  right: 12px !important;
}

.gm-ui-hover-effect > img {
  width: 25px !important;
  height: 25px !important;
}

.map-windowInfo-city {
  font-size: 1.5rem;
  font-weight: 900;
}

.map-windowInfo-address {
  font-size: 1.4rem;
  color: #848484;
  width: 150%;
}

.map-windoInfo-email {
  font-size: 1rem;
  color: #848484;
}

.map-service-image {
  padding-right: 10px;
}
